<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean class="com.atti.PasswordConfigurer"/>
  
  <bean id="client" class="com.atti.SimplePasswordClient">
    <property name="domainID" value="2"/>
    <property name="userName" value="encryptdecrypt"/>
	<property name="servicePassword" value="${encryptdecrypt}"/>
	<property name="endPoint" value="https://demo.strongauth.com:8181/strongkeyliteWAR/EncryptionService?wsdl"/>	
  </bean>
</beans>
